.btn {
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 2rem;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Button Style */

.btn--primary--solid {
  background-color: $c-primary;
  border-color: $c-primary;
  color: $c-white;
}

.btn--primary--outline {
  background-color: transparent;
  border: 2px solid $c-primary;
  color: $c-primary;
}

/* Button Size */

.btn--medium {
  padding: 10px 20px; // use rems
  font-size: 18px; // use rems
}

.btn--large {
  padding: 15px 20px; // use rems
  font-size: 20px; // use rems
}
