.TextInput {
  position: relative;
  margin: 2rem;

  input {
    border: 1px solid $c-primary;
    border-radius: 5px;
    height: 2rem;
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  label {
    position: absolute;
    left: 5px;
    top: 2px;
    text-transform: uppercase;
    transition: all 0.2s;
  }

  .field-active {
    font-size: 0.6rem;
    outline: 0;
  }
}
